<div>
  <img src="/assets/profile-pic.webp" alt="Headshot of Maxi Ferreira">
  <p>
    Hi, I'm <strong>Maxi</strong>. I'm a software engineer and data scientist based in Los Angeles.
    You can follow me on <a href="https://twitter.com/gearcouple" target="_blank">Twitter</a>,
    see some of my work on <a href="https://www.pinterest.com/gearcouple" target="_blank">Pinterest</a>,
    or read more about me on <a href="https://www.youtube.com/@gearcouple" target="_blank">Youtube</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
